.services-container {
    display:grid;
    grid-template-columns: auto auto;
    gap: 15px;
    row-gap: 10px;
    justify-content: center;
    margin-bottom: 100px;
    place-items: center;
    flex-wrap: wrap;

}

.service {
    background: palevioletred;
    color: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
}


#contact {
    text-align: center;
    padding: 50px 20px;
    background:lightcoral;
    color: white;
    margin-bottom: 100px;
}

footer {
    text-align: center;
    padding: 20px;
    background:cadetblue;
    color: white;
}

button {
    background: whitesmoke;
    color: black;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
}

button:hover {
    background: whitesmoke;
}

h2 {
    text-align: center;
    font-size: medium;
    color: grey;
}

#about {
    padding: 50px 20px;
    text-align: justify;
    background-color: white;
    margin-bottom: 100px;
}
.hero {
    font-size: 36px;
    text-align: center;
    color: white;
}

.social-icons a {
    margin: 0 10px;
    font-size: 24px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 30px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    background-color: whitesmoke;
}

.Header{
    background-image: url(bg\ image.jpg);
    padding: 0px;
    background-size: cover;
    background-position: center;
}

#name{
    color:deeppink
}

#About-me{
    color:teal;
}

#doings{
    color:teal;
}

#Specializing{
    color: deeppink;
}

.service p{
    color: black;
}
.service h1{
    color:#880808;
}
#contact h3{
    font-size: small;
}

#contact h2{
    font-size: 25px;
    color:white;
}

#business h2{
    color:black;
    margin-bottom: 100px;
}

#about{
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    padding: 20px;
    flex-wrap: nowrap;
    flex-direction: row;
}

.box-2{
    text-align: justify;
}
